/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    height: 100%;
    width:100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
.clock{
    height: 80vmin;
    width: 80vmin;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-text{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clock::after{
    content: "";
    height: 98%;
    width: 98%;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 1%;
}
.central-dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
}
.clock-hand{
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: calc(50% - 30px);
    transform-origin: 50% calc(100% - 30px);
}
.hours {
    height: 40%;
    width: 4px;
}
.minutes{
    height: 45%;
    width: 3px;
}
.seconds{
    height: 50%;
    width: 2px;
}
h1  {
    text-transform: uppercase;
    font-weight: bold;
}
.countdown-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countdown{
    display: flex;
}
h3{
    text-transform: capitalize;
    margin-bottom: 10px;
}
